@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #18062b;
    color: #f6feff;
    font-family: "Orbitron", "Jost", "PT Sans", system-ui, sans-serif;
    font-size: 1rem;
  }

  html:not(.dark) body {
    background-color: #fcfcfc;
    color: #1a1a1a;
    font-family: "Jost", "PT Sans", system-ui, sans-serif;
    font-size: 1rem;
  }
}
