@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base;
    background-color: #18062b;
    color: #f6feff;
    font-family: "Exo 2", "PT Sans", system-ui, sans-serif;
  }

  html:not(.dark) body {
    background-color: #fcfcfc;
    color: #1a1a1a;
    font-family: "Inter", "Jost", system-ui, sans-serif;
  }
}
