@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base;
    background-color: #18062b;
    color: #f6feff;
    font-family: "Exo 2", "PT Sans", system-ui, sans-serif;
  }

  html:not(.dark) body {
    background-color: #fcfcfc;
    color: #1a1a1a;
    font-family: "Inter", "Jost", system-ui, sans-serif;
  }
}

@layer components {
  .cartoon-button {
    @apply inline-flex items-center justify-center
      rounded-2xl
      border-2 border-slate-900
      px-6 py-3
      text-sm
      shadow-[6px_6px_0_#0f172a]
      transition
      hover:-translate-y-[1px];
  }

  .cartoon-surface {
    @apply border-2 border-slate-900 bg-white;
  }

  .cartoon-shadow-sm {
    @apply shadow-[3px_3px_0_#0f172a];
  }
  .cartoon-shadow-md {
    @apply shadow-[4px_4px_0_#0f172a];
  }
  .cartoon-shadow-lg {
    @apply shadow-[6px_6px_0_#0f172a];
  }
  .cartoon-shadow-xl {
    @apply shadow-[10px_10px_0_#0f172a];
  }
}
